<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New student</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h3>Fill data below</h3>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/faculties">Faculties</a></li>
        <li class="breadcrumb-item"><a
                th:href="@{/WEB-INF/views/faculties/{idFaculty}(idFaculty = ${group.course.faculty.id})}"><span
                th:text="${group.course.faculty.name}">name</span> faculty</a></li>
        <li class="breadcrumb-item"><a
                th:href="@{/faculties/{idFaculty}/courses/{idCourse}/(idFaculty = ${group.course.faculty.id}, idCourse = ${group.course.id})}"><span
                th:text="${group.course.numberCourse}"/> course</a></li>
        <li class="breadcrumb-item"><a
                th:href="@{/faculties/{idFaculty}/courses/{idCourse}/groups/{idGroup}(idFaculty = ${group.course.faculty.id}, idCourse = ${group.course.id}, idGroup = ${group.id})}"><span
                th:text="${group.numberGroup}"/> group</a></li>
        <li class="breadcrumb-item active" aria-current="page">New student</li>
    </ol>
</nav>

<h3>Create new student</h3>

<div class="ml-5">
    <form th:method="POST"
          th:action="@{/faculties/{idFaculty}/courses/{idCourse}/groups/{idGroup}/student/
          (idFaculty = ${group.course.faculty.id}, idCourse = ${group.course.id}, idGroup = ${group.id})}"
          th:object="${student}">

        <div class="form-group row">
            <label for="idGroup">Student data:</label>
            <div class="col-sm-6">
                <select class="form-control" id="idGroup" th:field="*{group.id}" required>
                    <option th:value="${group.id}"
                            th:text="'Faculty: ' + ${group.course.faculty.name} + ', ' + ${group.course.numberCourse} + ' course, ' + ${group.numberGroup} + ' group'"></option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="name">Name</label>
            <div class="col-sm-6">
                <input type="text" th:field="*{name}" id="name" class="form-control"
                       placeholder="Enter name"/>
            </div>
        </div>
        <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

        <div class="form-group row">
            <label for="lastName">Last name</label>
            <div class="col-sm-6">
                <input type="text" th:field="*{lastName}" id="lastName" class="form-control"
                       placeholder="Enter last name"/>
            </div>
            <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
            <br>

            <input class="btn btn-primary" type="submit" value="Create student"/>
        </div>
    </form>
</div>


</body>
</html>