<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All teachers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h3>List of teachers</h3>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Teachers</li>
    </ol>
</nav>

<a href="/teachers/new">Add new teachers</a>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Last name</th>
        <th scope="col">Position</th>
        <th scope="col">Salary</th>
        <th scope="col">Subjects</th>
        <th scope="col">Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(teachers)}">
        <td colspan="7">No employees available</td>
    </tr>
    <tr th:each="teacher : ${teachers}">
        <td th:text="${teacher.id}" scope="row"></td>
        <td th:text="${teacher.name}" scope="row"></td>
        <td th:text="${teacher.lastName}" scope="row"></td>
        <td scope="row">
            <a th:href="@{/position/{id}(id = ${teacher.position.id})}"
               th:text="${teacher.position.name}"></a>
        </td>
        <td th:text="${teacher.salary} + ' $'" scope="row"></td>

        <td><p th:each="subject : ${teacher.subjectList}">
            <a th:href="@{/subjects/{id}(id = ${subject.id})}" th:text="${subject.name}"/>
        </p></td>

        <td>
            <div><a th:href="@{/employees/{id}(id = ${teacher.id})}" type="button"
                    class="btn btn-primary btn-sm">view</a>
                <a th:href="@{/employees/{id}/edit(id=${teacher.id})}" type="button"
                   class="btn btn-secondary btn-sm">change</a>
            </div>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>