<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New teacher</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h3>Fill data below</h3>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/teachers">Teachers</a></li>
        <li class="breadcrumb-item active" aria-current="page">New employee</li>
    </ol>
</nav>

<div class="ml-5">
    <form th:method="POST" th:action="@{/teachers}" th:object="${teacher}">
        <div class="form-group row">
            <label for="name">Enter name: </label>
            <div class="col-sm-6">
                <input type="text" th:field="*{name}" id="name" class="form-control"
                       placeholder="Enter name"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="lastName">Enter last name: </label>
            <div class="col-sm-6">
                <input type="text" th:field="*{lastName}" id="lastName" class="form-control"
                       placeholder="Enter last name"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="positionId">Select position: </label>
            <div class="col-sm-6">
                <select class="form-control" id="positionId" th:field="*{position.id}">
                    <option th:each="position : ${positions}"
                            th:value="${position.id}"
                            th:text="${position.name}"/>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="salary">Enter salary($): </label>
            <div class="col-sm-6">
                <input type="text" th:field="*{salary}" id="salary" class="form-control"
                       placeholder="Enter salary"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="subject">Select subject: </label>
            <div class="col-sm-6">
                <select name="subjectId" class="form-control" id="subject">
                    <option th:each="subject : ${subjectsWithoutTeacher}"
                            th:value="${subject.id}"
                            th:text="${subject.name}"/>
                </select>
            </div>
        </div>

        <input class="btn btn-primary" type="submit" value="Create teacher"/>
    </form>
</div>

</body>
</html>