<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Classroom id: ' + ${classroom.id}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<h3 th:text="${classroom.name} + ' classroom'"></h3>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/classrooms">Classrooms</a></li>
        <li class="breadcrumb-item active" aria-current="page"><span th:text="${classroom.name}">name</span> classroom
        </li>
    </ol>
</nav>

<p><strong>ID:</strong> <span th:text="${classroom.id}">id</span></p>
<p><strong>Name:</strong> <span th:text="${classroom.name}">name</span></p>
<p><strong>Description:</strong> <span th:text="${classroom.description}">description</span></p>
<div class="btn-group"><a th:href="@{/classrooms/{id}/edit(id=${classroom.id})}" type="button"
                          class="btn btn-primary btn-sm">Edit</a></div>
<div class="btn-group">
    <form th:method="DELETE" th:action="@{/classrooms/{id}(id=${classroom.id})}">
        <input type="submit" value="Delete" class="btn btn-secondary btn-sm"/>
    </form>
</div>
</body>
</html>