<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Edit by id: ' + ${position.id}">Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h3 th:text="'Update the ' + ${position.name}">h3</h3>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/position">Position</a></li>
        <li class="breadcrumb-item"><a th:href="@{/position/{id}(id = ${position.id})}">Position: <span th:text="${position.name}"></span></a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit position</li>
    </ol>
</nav>

<div class="ml-5">
    <form th:method="PATCH" th:action="@{/position/{id}(id = ${position.id})}" th:object="${position}">

        <div class="form-group row">
            <label for="name">Enter new name: </label>
            <div class="col-sm-6">
                <input type="text" th:field="*{name}" id="name" class="form-control"
                       placeholder="Enter new name for position"/>
            </div>
        </div>

        <input class="btn btn-primary" type="submit" value="Update"/>
    </form>

</div>

</body>
</html>