<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Lesson by id: ' + ${lesson.getId}">Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h3>Update lesson by id: <span th:text="${lesson.getId}"/></h3>

<div class="ml-5">
    <form th:method="PATCH" th:action="@{/lessons/{idLesson}(idLesson=${lesson.getId})}" th:object="${lesson}">

        <div class="form-group row">
            <label for="subject">Select subject</label>
            <div class="col-sm-6">
                <select class="form-control" id="subject" th:field="*{subject}">
                    <option th:each="subject : ${subjects}"
                            th:value="${subject.id}"
                            th:text="${subject.name}"></option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="dateTime">Enter a time:</label>
        </div>
        <div class="col-sm-6">
            <input type="datetime-local" id="dateTime" th:field="*{dateTime}">
        </div>
        <div style="color: red" th:if="${#fields.hasErrors('dateTime')}" th:errors="*{dateTime}"></div>

        <div class="form-group row">
            <label for="duration">Enter duration: </label>
            <div class="col-sm-6">
                <input type="text" id="duration" class="form-control" th:field="*{duration}"/>
            </div>
        </div>
        <div style="color: red" th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}"></div>

        <div class="form-group row">
            <label for="classRoom">Select classroom</label>
            <div class="col-sm-6">
                <select class="form-control" id="classRoom" th:field="*{classRoom}">
                    <option th:each="classroom : ${classrooms}"
                            th:value="${classroom.id}"
                            th:text="${classroom.name}"></option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="groups">Change groups</label>
            <div class="col-sm-6">
                <select multiple class="form-control" id="groups" th:field="*{groups}">
                    <option th:each="group : ${groups}"
                            th:value="${group.id}"
                            th:text="${group.course.faculty.name + ': ' + group.course.numberCourse
                            + ' course, ' + group.numberGroup + ' group'}"></option>
                </select>
            </div>
        </div>
        <div style="color: red" th:if="${#fields.hasErrors('groups')}" th:errors="*{groups}"></div>

        <input class="btn btn-primary" type="submit" value="Update"/>
    </form>
</div>

</body>
</html>