<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New course</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<h3>Fill data below</h3>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a th:href="@{/faculties/{id}(id = ${faculty.id})}"
                                       th:text="${faculty.name} + ' faculty'"></a></li>
        <li class="breadcrumb-item active" aria-current="page">New course</li>
    </ol>
</nav>

<h3>Create new course</h3>

<div class="ml-5">
    <form th:method="POST" th:action="@{/faculties/{id}/courses(id = ${idFaculty})}" th:object="${course}">

        <div class="form-group row">
            <label for="facultyId">Faculty:</label>
            <div class="col-sm-6">
                <select class="form-control" id="facultyId" th:field="*{faculty.id}" required>
                    <option th:value="${faculty.id}" th:text="${faculty.name}"/>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-6">
                <label for="numberCourse">Number course:</label>
                <input type="text" th:field="*{numberCourse}" id="numberCourse" class="form-control"
                       placeholder="Enter number course"/>
            </div>
        </div>

        <br>
        <input class="btn btn-primary" type="submit" value="Create course"/>
    </form>
</div>


</body>
</html>