<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${subject.name}">Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h3>Subject data:</h3>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/subjects">Subjects</a></li>
        <li class="breadcrumb-item active" aria-current="page" th:text="'Subject by id: ' + ${subject.id}"></li>
    </ol>
</nav>

<p><strong>ID:</strong> <span th:text="${subject.id}">id</span></p>
<p><strong>Name:</strong> <span th:text="${subject.name}">name</span></p>
<p><strong>Description:</strong> <span th:text="${subject.description}">description</span></p>
<p><strong>Teacher:</strong> <span th:if="${subject.teacher != null}"
                                   th:text="${subject.teacher.name} + ' ' + ${subject.teacher.lastName}"/>
    <span th:if="${subject.teacher == null}">NO</span></p>
<p><strong>Amount Lessons:</strong> <span th:text="${subject.amountLessons}">amountLessons</span></p>

<div class="btn-group"><a th:href="@{/subjects/{id}/edit(id=${subject.id})}" type="button"
                          class="btn btn-primary btn-sm">Edit</a></div>
<div class="btn-group">
    <form th:method="DELETE" th:action="@{/subjects/{id}(id=${subject.id})}">
        <input type="submit" value="Delete" class="btn btn-secondary btn-sm"/>
    </form>
</div>

</body>
</html>