<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Edit Faculty by id:' + ${faculty.id}">Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<h3 th:text="'Update the ' + ${faculty.name} + ' faculty'">h3</h3>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/faculties">Faculties</a></li>
        <li class="breadcrumb-item"><a th:href="@{/faculties/{id}(id = ${faculty.id})}"><span th:text="${faculty.name}"/> faculty</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>

<div class="ml-5">
    <form th:method="PATCH" th:action="@{/faculties/{id}(id=${faculty.id})}" th:object="${faculty}">

        <div class="form-group row">
            <label for="name">Enter name: </label>
            <div class="col-sm-6">
                <input type="text" th:field="*{name}" id="name" class="form-control"
                       placeholder="Enter new name for faculty"/>
            </div>
        </div>
        <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

        <div class="form-group row">
            <label for="description">Enter description: </label>
            <div class="col-sm-6">
                <input type="text" th:field="*{description}" id="description" class="form-control"
                       placeholder="Enter new description for faculty"/>
            </div>
        </div>
        <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>

        <input class="btn btn-primary" type="submit" value="Update"/>
    </form>
</div>


</body>
</html>