<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Faculties</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<h3>All Faculties</h3>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Faculties</li>
    </ol>
</nav>
<a href="/faculties/new">Add new faculty</a>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${faculties.isEmpty()}">
        <td colspan="3">No faculties available</td>
    </tr>
    <tr th:each="faculty : ${faculties}">
        <td th:text="${faculty.id}" scope="row"></td>
        <td th:text="${faculty.name}" scope="row"></td>
        <td th:text="${faculty.description}" scope="row"></td>
        <td>
            <div><a th:href="@{/faculties/{id}(id=${faculty.id})}" type="button" class="btn btn-primary btn-sm">view</a>
                <a th:href="@{/faculties/{id}/edit(id=${faculty.id})}" type="button" class="btn btn-secondary btn-sm">change</a>
            </div>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>